.theme-toggle-label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.theme-toggle-label svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.theme-toggle-label .moon {
  display: none;
}

.right-controls {
  display: flex;
  align-items: center;
}

/* Light/Dark Mode Styles */
body:has(#theme-toggle:checked) {
  background-color: #121212;
  color: #ffffff;
}

body:has(#theme-toggle:checked) nav {
  background-color: #121212;
  border-color: #1f1f1f;
}

body:has(#theme-toggle:checked) .search-box input {
  background-color: #121212;
  border: 1px solid #303030;
}

body:has(#theme-toggle:checked) .menu a:hover {
  background-color: #444;
}

body:has(#theme-toggle:checked) .theme-toggle-label .sun {
  display: none;
}

body:has(#theme-toggle:checked) .theme-toggle-label .moon {
  display: inline;
}

body:has(#theme-toggle:checked) .dropdown-content {
  background-color: #333333;
}

body:has(#theme-toggle:checked) .dropdown-content a {
  color: white;
}

body:has(#theme-toggle:checked) .dropdown-content a:hover {
  background-color: #555555;
}

body:has(#theme-toggle:checked) .card {
  background-color: #282828;
  border: none;
}

body:has(#theme-toggle:checked) .card .description {
  color: #ffffff;
}

body:has(#theme-toggle:checked) .card .button {
  background-color: transparent;
  border: 1px solid #555555;
}

body:has(#theme-toggle:checked) .card svg {
  fill: #cca0ac;
  stroke: #cca0ac;
  stroke-width: 1px;
}

body:has(#theme-toggle:checked) .card .icon svg {
  stroke-width: 0.5px;
}
